In [18]:
import pandas as pd

In [19]:
data1=pd.read_csv("accepted_2007_to_2018Q4.csv")
pd.options.display.max_rows=999
data1.loc[1]

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

id                                                                                     68355089
member_id                                                                                   NaN
loan_amnt                                                                               24700.0
funded_amnt                                                                             24700.0
funded_amnt_inv                                                                         24700.0
term                                                                                  36 months
int_rate                                                                                  11.99
installment                                                                              820.28
grade                                                                                         C
sub_grade                                                                                    C1
emp_title                                                                              Engineer
emp_length                                                                            10+ years
home_ownership                                                                         MORTGAGE
annual_inc                                                                              65000.0
verification_status                                                                Not Verified
issue_d                                                                                Dec-2015
loan_status                                                                          Fully Paid
pymnt_plan                                                                                    n
url                                           https://lendingclub.com/browse/loanDetail.acti...
desc                                                                                        NaN
purpose                                                                          small_business
title                                                                                  Business
zip_code                                                                                  577xx
addr_state                                                                                   SD
dti                                                                                       16.06
delinq_2yrs                                                                                 1.0
earliest_cr_line                                                                       Dec-1999
fico_range_low                                                                            715.0
fico_range_high                                                                           719.0
inq_last_6mths                                                                              4.0
mths_since_last_delinq                                                                      6.0
mths_since_last_record                                                                      NaN
open_acc                                                                                   22.0
pub_rec                                                                                     0.0
revol_bal                                                                               21470.0
revol_util                                                                                 19.2
total_acc                                                                                  38.0
initial_list_status                                                                           w
out_prncp                                                                                   0.0
out_prncp_inv                                                                               0.0
total_pymnt                                                                            25679.66
total_pymnt_inv                                                                        25679.66
total_rec_prncp                                                                         24700.0
total_rec_int                                                                            979.66
total_rec_late_fee                                                                          0.0
recoveries                                                                                  0.0
collection_recovery_fee                                                                     0.0
last_pymnt_d                                                                           Jun-2016
last_pymnt_amnt                                                                          926.35
next_pymnt_d                                                                                NaN
last_credit_pull_d                                                                     Mar-2019
last_fico_range_high                                                                      699.0
last_fico_range_low                                                                       695.0
collections_12_mths_ex_med                                                                  0.0
mths_since_last_major_derog                                                                 NaN
policy_code                                                                                 1.0
application_type                                                                     Individual
annual_inc_joint                                                                            NaN
dti_joint                                                                                   NaN
verification_status_joint                                                                   NaN
acc_now_delinq                                                                              0.0
tot_coll_amt                                                                                0.0
tot_cur_bal                                                                            204396.0
open_acc_6m                                                                                 1.0
open_act_il                                                                                 1.0
open_il_12m                                                                                 0.0
open_il_24m                                                                                 1.0
mths_since_rcnt_il                                                                         19.0
total_bal_il                                                                            18005.0
il_util                                                                                    73.0
open_rv_12m                                                                                 2.0
open_rv_24m                                                                                 3.0
max_bal_bc                                                                               6472.0
all_util                                                                                   29.0
total_rev_hi_lim                                                                       111800.0
inq_fi                                                                                      0.0
total_cu_tl                                                                                 0.0
inq_last_12m                                                                                6.0
acc_open_past_24mths                                                                        4.0
avg_cur_bal                                                                              9733.0
bc_open_to_buy                                                                          57830.0
bc_util                                                                                    27.1
chargeoff_within_12_mths                                                                    0.0
delinq_amnt                                                                                 0.0
mo_sin_old_il_acct                                                                        113.0
mo_sin_old_rev_tl_op                                                                      192.0
mo_sin_rcnt_rev_tl_op                                                                       2.0
mo_sin_rcnt_tl                                                                              2.0
mort_acc                                                                                    4.0
mths_since_recent_bc                                                                        2.0
mths_since_recent_bc_dlq                                                                    NaN
mths_since_recent_inq                                                                       0.0
mths_since_recent_revol_delinq                                                              6.0
num_accts_ever_120_pd                                                                       0.0
num_actv_bc_tl                                                                              5.0
num_actv_rev_tl                                                                             5.0
num_bc_sats                                                                                13.0
num_bc_tl                                                                                  17.0
num_il_tl                                                                                   6.0
num_op_rev_tl                                                                              20.0
num_rev_accts                                                                              27.0
num_rev_tl_bal_gt_0                                                                         5.0
num_sats                                                                                   22.0
num_tl_120dpd_2m                                                                            0.0
num_tl_30dpd                                                                                0.0
num_tl_90g_dpd_24m                                                                          0.0
num_tl_op_past_12m                                                                          2.0
pct_tl_nvr_dlq                                                                             97.4
percent_bc_gt_75                                                                            7.7
pub_rec_bankruptcies                                                                        0.0
tax_liens                                                                                   0.0
tot_hi_cred_lim                                                                        314017.0
total_bal_ex_mort                                                                       39475.0
total_bc_limit                                                                          79300.0
total_il_high_credit_limit                                                              24667.0
revol_bal_joint                                                                             NaN
sec_app_fico_range_low                                                                      NaN
sec_app_fico_range_high                                                                     NaN
sec_app_earliest_cr_line                                                                    NaN
sec_app_inq_last_6mths                                                                      NaN
sec_app_mort_acc                                                                            NaN
sec_app_open_acc                                                                            NaN
sec_app_revol_util                                                                          NaN
sec_app_open_act_il                                                                         NaN
sec_app_num_rev_accts                                                                       NaN
sec_app_chargeoff_within_12_mths                                                            NaN
sec_app_collections_12_mths_ex_med                                                          NaN
sec_app_mths_since_last_major_derog                                                         NaN
hardship_flag                                                                                 N
hardship_type                                                                               NaN
hardship_reason                                                                             NaN
hardship_status                                                                             NaN
deferral_term                                                                               NaN
hardship_amount                                                                             NaN
hardship_start_date                                                                         NaN
hardship_end_date                                                                           NaN
payment_plan_start_date                                                                     NaN
hardship_length                                                                             NaN
hardship_dpd                                                                                NaN
hardship_loan_status                                                                        NaN
orig_projected_additional_accrued_interest                                                  NaN
hardship_payoff_balance_amount                                                              NaN
hardship_last_payment_amount                                                                NaN
disbursement_method                                                                        Cash
debt_settlement_flag                                                                          N
debt_settlement_flag_date                                                                   NaN
settlement_status                                                                           NaN
settlement_date                                                                             NaN
settlement_amount                                                                           NaN
settlement_percentage                                                                       NaN
settlement_term                                                                             NaN
Name: 1, dtype: object

In [20]:
data2=pd.read_csv("rejected_2007_to_2018Q4.csv")
pd.options.display.max_rows=999
data2.loc[1]

Amount Requested                    1000.0
Application Date                2007-05-26
Loan Title              Consolidating Debt
Risk_Score                           703.0
Debt-To-Income Ratio                   10%
Zip Code                             010xx
State                                   MA
Employment Length                 < 1 year
Policy Code                            0.0
Name: 1, dtype: object

In [21]:
data1=data1[['loan_amnt','title','dti','zip_code','addr_state','emp_length','policy_code']]
data2=data2[['Amount Requested','Loan Title','Debt-To-Income Ratio','Zip Code','State','Employment Length','Policy Code']]

In [22]:
data1.dtypes

loan_amnt      float64
title           object
dti            float64
zip_code        object
addr_state      object
emp_length      object
policy_code    float64
dtype: object

In [23]:
data2.dtypes

Amount Requested        float64
Loan Title               object
Debt-To-Income Ratio     object
Zip Code                 object
State                    object
Employment Length        object
Policy Code             float64
dtype: object

In [24]:
data2['Debt-To-Income Ratio'].unique()

array(['10%', '38.64%', '9.43%', ..., '1986.02%', '1154.55%', '21215.75%'],
      dtype=object)

In [25]:
nosymb=data2['Debt-To-Income Ratio'].str.replace('%','')
data2['Debt-To-Income Ratio']=pd.to_numeric(nosymb)

In [26]:
data2.dtypes

Amount Requested        float64
Loan Title               object
Debt-To-Income Ratio    float64
Zip Code                 object
State                    object
Employment Length        object
Policy Code             float64
dtype: object

In [27]:
new_names=data2.columns
old_names=data1.columns

data1 = data1.rename(columns=dict(zip(old_names,new_names)))
data1.dtypes

Amount Requested        float64
Loan Title               object
Debt-To-Income Ratio    float64
Zip Code                 object
State                    object
Employment Length        object
Policy Code             float64
dtype: object

In [28]:
data1.dropna()

,Amount Requested,Loan Title,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,3600.0,Debt consolidation,5.91,190xx,PA,10+ years,1.0
1,24700.0,Business,16.06,577xx,SD,10+ years,1.0
3,35000.0,Debt consolidation,17.06,076xx,NJ,10+ years,1.0
4,10400.0,Major purchase,25.37,174xx,PA,3 years,1.0
5,11950.0,Debt consolidation,10.20,300xx,GA,4 years,1.0
...,...,...,...,...,...,...,...
2260692,16000.0,Medical expenses,12.25,284xx,NC,10+ years,1.0
2260693,24000.0,Credit card refinancing,10.98,967xx,HI,4 years,1.0
2260694,24000.0,Home improvement,19.61,356xx,AL,7 years,1.0
2260695,24000.0,Debt consolidation,34.94,840xx,UT,10+ years,1.0
2260697,24000.0,Debt consolidation,18.30,334xx,FL,6 years,1.0

In [29]:
data2.shape

(27648741, 7)

In [30]:
data2.dropna()

,Amount Requested,Loan Title,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,Wedding Covered but No Honeymoon,10.00,481xx,NM,4 years,0.0
1,1000.0,Consolidating Debt,10.00,010xx,MA,< 1 year,0.0
2,11000.0,Want to consolidate my debt,10.00,212xx,MD,1 year,0.0
3,6000.0,waksman,38.64,017xx,MA,< 1 year,0.0
4,1500.0,mdrigo,9.43,209xx,MD,< 1 year,0.0
...,...,...,...,...,...,...,...
27648736,10000.0,Debt consolidation,41.26,441xx,OH,< 1 year,0.0
27648737,10000.0,moving,1.48,207xx,MD,5 years,0.0
27648738,1200.0,Other,10.26,914xx,CA,< 1 year,0.0
27648739,25000.0,debt_consolidation,17.71,880xx,NM,< 1 year,0.0
27648740,15000.0,Business,10.58,113xx,NY,< 1 year,0.0

In [31]:
data_final=data2.append(data1,ignore_index=True)

In [17]:
data_final.head

<bound method NDFrame.head of           Amount Requested                        Loan Title  \
0                   1000.0  Wedding Covered but No Honeymoon
1                   1000.0                Consolidating Debt
2                  11000.0       Want to consolidate my debt
3                   6000.0                           waksman
4                   1500.0                            mdrigo
...                    ...                               ...
29909437           40000.0                               NaN
29909438           24000.0                Debt consolidation
29909439           14000.0                               NaN
29909440               NaN                               NaN
29909441               NaN                               NaN

          Debt-To-Income Ratio Zip Code State Employment Length  Policy Code  \
0                        10.00    481xx    NM           4 years          0.0
1                        10.00    010xx    MA          < 1 year          0.0
2                        10.00    212xx    MD            1 year          0.0
3                        38.64    017xx    MA          < 1 year          0.0
4                         9.43    209xx    MD          < 1 year          0.0
...                        ...      ...   ...               ...          ...
29909437                 12.75    907xx    CA           9 years          1.0
29909438                 18.30    334xx    FL           6 years          1.0
29909439                 23.36    770xx    TX         10+ years          1.0
29909440                   NaN      NaN   NaN               NaN          NaN
29909441                   NaN      NaN   NaN               NaN          NaN

          Rejected  Accepted
0              0.0       NaN
1              0.0       NaN
2              0.0       NaN
3              0.0       NaN
4              0.0       NaN
...            ...       ...
29909437       NaN       1.0
29909438       NaN       1.0
29909439       NaN       1.0
29909440       NaN       1.0
29909441       NaN       1.0

[29909442 rows x 9 columns]>